$color1: #030029;
$color2: #002443;
$color3: #005678;
$color4: #114b5f;
$color5: #028090;
* {
  font-family: 'Oswald', sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $color5;
}

/***** GENERAL REUSABLE CLASSES *****/

#root {
  a {
    color: white;
    text-decoration: none;
  }

  .divider {
    border-bottom: 1px solid white;
    margin: 20px 0;
  }

  #app {
    height: 100%;
    width: 100%;
    .page {
      height: 100%;
      width: 100%;
      padding: 80px 20px;
      color: white;
    }
    .flex-row-center {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .navColor {
      background-color: $color2;
    }
    .secColor {
      background-color: $color1;
    }
    .thirdColor {
      background-color: $color3;
    }
    .fourthColor {
      background-color: $color4;
    }
    .fifthColor {
      background-color: $color5;
    }
    .slide-right {
      transform: translateX(0%);
    }
    .fifty {
      width: 50%;
    }
    .seventy {
      width: 70%;
    }
    .thirty {
      width: 30%;
    }
  }
}
/************************************/

#app {
  #navigation {
    padding: 20px;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    #burger {
      margin-right: 10px;
      cursor: pointer;
    }
    #logo {
      p {
        margin: 0;
      }
    }
  }
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 20px;
    padding-top: 70px;
    color: white;
    transform: translateX(-100%);
    transition: all 0.2s;
    .social {
      font-size: 1.4em;
      svg {
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .menu-item {
      margin: 10px 0;
      a {
        color: white;
        text-decoration: none;
        svg {
          margin-right: 10px;
        }
      }
    }
  }
  #error {
    section {
      height: 100vh;
      padding: 0 100px;
    }
    .left {
      color: white;
      padding: 20px;
      h1 {
        font-size: 3em;
      }
      h3 {
        font-size: 1.5em;
      }
    }
    .right {
      img {
        width: 80%;
        margin-left: 50px;
      }
    }
  }
  #home {
    section {
      height: 100vh;
      padding: 0 100px;
    }
    #intro {
      .left {
        color: white;
        padding: 20px;
        h1 {
          font-size: 3em;
        }
        h3 {
          font-size: 1.5em;
        }
      }
      .right {
        img {
          width: 80%;
          margin-left: 50px;
        }
      }
    }
    #monkey {
      .right {
        color: white;
        padding: 20px;
        h1 {
          font-size: 3em;
        }
        h3 {
          font-size: 1.5em;
        }
      }
      .left {
        img {
          width: 80%;
          margin-right: 50px;
        }
      }
    }
  }
}
